*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: 0;
}
bady{
     max-width: 1440px;
    background-color: #f0f4f5;
    overflow: hidden;
    margin: auto;
}
/* designing the navigation menu */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    height: 15vh;
}
nav img{
    height: 150px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
    font-size: 25px;
    margin-top: 8px;
}
nav ul li:first-child{
    color: #20bc7e;
    font-weight: 700;
}
a{
    color: #000000;
    text-decoration: none;
}
/* designing the main section and form */
main{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10 black;
}
form h1{
    align-items: center;
}
form div{
    display: flex;
    flex-direction: column;
}
form div label{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}
form div input{
    border: transparent;
    border-radius: 10px;
    padding: 5px 10px;
}
form div textarea{
    border-radius: 10px;
    padding: 5px 10px;
    border: transparent;
    height: 100px;
    resize: none;
}
form button{
    border: transparent;
    border-radius: 10px;
    color: #ffffff;
    background: #20bc7e;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}