*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    font-family: 'Gloock', serif;
    background-color:#d8f4f5;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin: 30px 35px;
}
.list{
    display: flex;
    list-style: none;
  margin-right: 300px;
    gap: 18px;
    font-size: 15px;
    font-weight: 500;
}
.button1{
    border: none;
    background-color: #653ca2;
    color: #ffffff;
  padding: 10px 20px;
}
.main{
    display: flex;
}
.mainleft{
    color: #23035d;
    margin-top: 40px;
    margin-left: 40px;
}
h1{
    font-size: 60px;
    
}
p{
    font-size: 15px;
    color: rgb(105, 109, 109);
}
.button2{
    border: none;
    background-color: #653ca2;
    color: #ffffff;
    align-items: center;
    padding: 10px 20px;
    margin-top: 15px;
}

span{
    color: #640aec;
}
.mainright>img{
width: 500px;
height: 400px;
}
