*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
/* removing default styling of li items */
li{
    list-style: none;
}
/*  removing default decoration of a tag */
a{
    text-decoration: none;
}
/* default design to every button */
button{
    border-radius: 30px;
    padding: 10px 30px;
    border: none;
    font-size: 18px;
    font-weight: 800;
    background:#6663e9 ;
    color: #ffffff;
}
body{
    background-color: #79b1ea;
    width: 80vw;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0,5), rgba(0,0,0,0,5)),
    url(./assets/mainBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 125vh;
}
/* designing the navigation menu */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0;
}
nav img{
    height: 45px;
    width: 120px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    color: #ffffff;
    font-size: 18px;
    margin-right: 50px;

}  
hr{
    margin: 0 100px;
} 
/* designing the div inside the header */
header div{
    margin-top: 85px;
    margin-left: 150px ;
    color: #ffffff;
}
 header nav h1{
    font-size: 72px;
    margin-bottom: 30px ;
 }
 header nav p{
    font-size: 18px;
    margin-bottom: 30px;
    width: 410px;
    font-weight: 500;
 }
 /* designing the multiple logo section  */
 .logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    border-radius: 30px;
    bottom: 100px;
    height: 190px;
    margin: 0 35px;
    background-color: #fff;
 }
 .logo imh{
    height: 38px;
    width: 156px;
 }
 /* designing the wrapper section */
 .card-wrapper-section h1{
    align-items: center;
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 0.01em;
 }
 .card-wrapper{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
   position: relative;
   gap: 10px;
   margin: top 50px; ;
 }
 /* designing the card image */
 .card{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    flex-basis: 30%;
 }
 /* different margin top value to position cards */
 .card-wrapper div:nth-child(2) {
    margin-top: 50px;
 }
 .card-wrapper div:nth-child(3) {
    margin-top: 100px;
 }
 .card-wrapper div:nth-child(4) {
    margin-top: 160px;
 }
 .card-wrapper div:nth-child(5) {
    margin-top: 100px;
 }
 .card-wrapper div:nth-child(6) {
    margin-top: 40px;
 }
 .card-wrapper div:nth-child(7) {
    margin-top: 40px;
 }
 .card-wrapper div:nth-child(8) {
    margin-top: 100px;
 }
 .card-wrapper div:nth-child(9) {
    margin-top: 160px;
 }
 .card img{
    border-radius: 20px;
    height: 400px;
    width: 366px;
 }
 /* designing the card box of a card */
 .card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding:15px 20px ;
    bottom: -60px;
    border-radius: 20px;
    background: #ffffff;
    height: 121px;
    width: 326px;
    box-shadow: 0px 4px 120px rgb(58, 86, 78, 0.2);
 }
 .card-box button{
    height: 52px;
    width: 114px;
    font-weight: 800;
    font-size: 15px;
 }
 .card-box div h3{
    font-weight: 700;
    font-size: 24px;
    margin-bottom:10px ;
 }
 .card-box div p{
    font-weight: 800;
    font-size: 20px;
    color: #6663e8;
    text-shadow:0px 4px 60px rgb(0, 0, 0, 0.05) ;
 }

/* designing both the features section of the website */
.features-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}
.features-section div{
    width: 50%;
}
.first-feature-section div:first-child img:first-child{
    position: absolute;
    z-index: -1;
    left: -80px;
    height: 465px;
    width: 726px;
}
.features-section div:first-child img:last-child{
    height: 405px;
    width: 405px;
    border-radius: 50px;
    bottom: 55px;
    left: 110px;
    position: relative;
}
/* designing the second div of feature box */
.features-section h1{
    font-weight: 800;
    font-size: 60px;
    margin-bottom: 30px;
    letter-spacing: 0.01em;
}
.features-section p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
    max-width: 80%;
    color: #585c65;
}
.features-section button{
    font-weight: 700;
}

/* designing the second feature section */
.second-feature-section{
display: flex;
align-items: center;
justify-content: center;
}
.second-feature-section div{
        max-width: 50%;
}
.second-feature-section div:last-child{
    position: relative;
}
.second-feature-section div:last-child img:first-child{
    position: absolute;
    right: 0;
    bottom: -220px;
    height: 456px;
    width: 726px;
}
.second-feature-section div:last-child img:last-child{
    position: absolute;
    height: 405px;
    width: 405px;
    border-radius: 50px;
    right: 135px;
    bottom: -110px;
}
.second-feature-section div:first-child{
    padding: 0 50px;
}
.second-feature-section div:first-child h1{
    width: 90%;
}
/* designing the newsletter section */
.newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 70px 0;
    margin: 100px 70px;
    border-radius: 70px;
    background: #6663e9;
    color: #ffffff;
    gap: 30px;
    box-shadow: 0px 4px 60px rgb(0, 0, 0, 0.05);

}
.newsletter h1{
    font-size: 60px;
    font-weight: 800;
}
.newsletter p{
    font-size: 18px;
    font-weight: 400;
    width: 55%;
}

/* designing the form */
.newsletter form{
    display: flex;
    align-items: center;
    gap: 20px;
}
.newsletter form div{
    display: flex;
    align-items: center;
    border-radius: 40px;
    gap: 20px;
   height: 61px;
   width: 486px;
   padding: 0 20px;
   background: #5654d1;
}
.newsletter form input{ 
    border: none;
    background-color: transparent;
}
.newsletter form button{
    height: 61px;
    width: 174px;
    border-radius: 40px;
    color: #6663e9;
    background: #ffffff;
    box-shadow: 0px 4px 60px rgb(0, 0, 0 , 0.05);
}
/* designing the footer */
footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 100px;
    margin-bottom: 80px;
}
footer div:first-child{
    display: flex;
   flex-direction: column;
    gap: 30px;
}
footer div:first-child img{
    width: 50%;
}
footer div:first-child div imh{
    margin-right: 20px;
    height: 45px;
    width: 45px;
}
footer div:first-child p{
    width: 323px;
    font-size: 20px;
    font-weight: 400;
}

/* designing the footer links */
.footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 120px;
}
.footer-links{
    display: flex;
    flex-direction: column;
}
.footer-links ul li a{
    color: #000000;
}
.footer-links ul li:first-child{
    font-size: 20px;
    font-weight: 700;
}
.footer-links ul li{
    margin-bottom: 25px;
}